<%- include('partials/header.ejs') %> 
  <body id="body">
    <nav class="navbar navbar-expand-lg py-3" id="my-nav">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" id="brand"
          >News infinity
          <i
            class="fa fa-feather-pointed"
            aria-hidden="true"
            style="color: greenyellow"
          ></i>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/catg/General" id="General">General</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/catg/Business" id="Business"
                >Business</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/catg/Entertainment" id="Entertainment"
                >Entertainment</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/catg/Science" id="Science">Science</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/catg/Health" id="Health">Health</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/catg/Sports" id="Sports">Sports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/catg/Technology" id="Technology"
                >Technology</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Weather" id="Weather">Weather News</a>
            </li>
          </ul>
          <form class="d-flex" role="search" id="form" action="/kwchn">
            <select name="channel" class="form-select mx-1" id="channel">
              <option value="">Search by Channel</option>
              <option value="abc-news">ABC News</option>
              <option value="al-jazeera-english">AL JAZEERA ENG.</option>
              <option value="bbc-news">BBC News</option>
              <option value="bbc-sport">BBC Sport</option>
              <option value="bloomberg">Bloomberg</option>
              <option value="business-insider">Business Insider</option>
              <option value="buzzfeed">Buzzfeed</option>
              <option value="cbc-news">CBC News</option>
              <option value="cnn">CNN</option>
              <option value="entertainment-weekly">Entertainment Weekly</option>
              <option value="espn">ESPN</option>
              <option value="espn-cric-info">ESPN Cric Info</option>
              <option value="fortune">Fortune</option>
              <option value="fox-news">Fox News</option>
              <option value="google-news">Google News</option>
              <option value="google-news-in">Google News (India)</option>
              <option value="crypto-coins-news">Crypto Coins News</option>
              <option value="mtv-news">MTV News</option>
              <option value="national-geographic">National Geographic</option>
              <option value="news24">News24</option>
              <option value="reddit-r-all">Reddit /r/all</option>
              <option value="talksport">TalkSport</option>
              <option value="the-hindu">The Hindu</option>
              <option value="the-lad-bible">The Lad Bible</option>
              <option value="the-times-of-india">The Times of India</option>
              <option value="the-verge">The Verge</option>
              <option value="the-washington-times">The Washington Times</option>
              <option value="usa-today">USA Today</option>
              <option value="bleacher-report">Bleacher Report</option>
            </select>
            <input
              class="form-control me-2"
              type="search"
              name="keyword"
              placeholder="Search by Keywords"
              aria-label="Search"
              id="keyword"
            />
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <div
      class="alert alert-success alert-dismissible fade show py-2 my-0"
      role="alert"
      id="message"
    >
      <span>
        <strong><%= message %></strong>
      </span>
      <span>
        <button type="button" class="btn text-light toggle"><i class="fa fa-sun"></i> </button>
      </span>
    </div>

    <div class="container-fluid">
      <div class="row" id="news">
        <% data.forEach(elem =>{ %>
        <div class="col-xl-3 col-md-6 col-12 p-1">
          <div class="card" style="border: 0;">
            <img
              src="<%= elem.urlToImage %>"
              class="card-img-top"
              alt=" Image not available"
            />
            <div class="card-body">
              <label class="card-text" id="published-by">
                Published on <b><%= elem.publishedAt.slice( 0, 10 ) %></b> at
                <b><%= elem.publishedAt.slice(11, 16) %></b> -by
                <b><%= elem.source["name"] %></b>
              </label>
            </div>
            <div class="card-body lower">
              <h5 class="card-title"><b><%=elem.title%></b></h5>
              <p class="card-text"><%=elem.description%></p>
              <a
                href="<%=
                  elem.url
                %>"
                class="btn btn-success text-light"
                target="”_blank”"
                >Read More..</a
              >
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
    <%- include('partials/footer.ejs') %> 
  </body>
</html>
